<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
      <script src="//www.parsecdn.com/js/parse-1.6.0.min.js"></script>
  </head>

  <body ng-app="starterApp" layout="row" ng-controller="ClassController as cl" layout-fill>

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h1>Classes</h1>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="it in cl.classes">
          <md-button ng-click="cl.selectClass(it)" ng-class="{'selected' : it === cl.selected }">
            {{it.get("Name")}}
          </md-button>

      </md-list-item>
    </md-list>

  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar ng-layout="row" class="md-whiteframe-z1">
      <md-button ng-class="menu" hide-gt-sm ng-click="cl.toggleList()" aria-label="Show User List">
      </md-button>
      <h1>Noteworthy</h1>
    </md-toolbar>

    <md-content flex id="content">
        <h1>{{cl.selected.get("Name")}}</h1>
        <p>{{cl.selected.get("Professor")}}</p>

        <div ng-controller="ClassController">
            <md-content class="md-padding">
                <md-card ng-repeat="it in cl.notes">
                    <md-card-content>
                        <h2 class="md-title">{{it.get("title")}}</h2>
                        <p>
                           {{it.get("description")}}
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button>View</md-button>
                        <md-button>Delete</md-button>
                    </div>
                </md-card>
            </md-content>
        </div>

        <div ng-controller="ClassController as cl" layout="column">
            <md-content class="md-padding" layout="column">
                <div class="lock-size" layout="row">
                    <md-fab-speed-dial md-open="cl.isOpen" md-direction="{{cl.selectedDirection}}"
                                       ng-class="cl.selectedMode">

                        <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab md-warn">
                                <md-icon md-svg-src="assets/svg/menu.svg"></md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                                <md-icon md-svg-src="assets/svg/twitter.svg" aria-label="Twitter"></md-icon>
                            </md-button>
                            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                                <md-icon md-svg-src="assets/svg/google_plus.svg" aria-label="Facebook"></md-icon>
                            </md-button>
                            <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                                <md-icon md-svg-src="assets/svg/hangouts.svg" aria-label="Google Hangout"></md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </md-content>
        </div>

      </md-content>

  </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/classes/Class.js"></script>
    <script src="./src/classes/ClassController.js"></script>
    <script src="./src/classes/ClassService.js"></script>

    <script type="text/javascript">

        Parse.initialize("xaWquA962LKda5zgxedPcBxVMwmtwv0tMwWAvLs4", "rEq8Fx7X2melypPqC47pvw4AVNDNJ142tk4Df2j2");

          angular
              .module('starterApp', ['ngMaterial', 'classes'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('blue')
                          .accentPalette('amber');

              });

    </script>

  </body>
</html>
